body .container .mainpage .form-container #state-input, body .container .mainpage .form-container #zip-input {
  background-color: #ffffff;
  border: solid 1px #9b9a9a;
  font-size: 11.2px;
  line-height: 2.0;
  text-decoration-color: #4c4a4a; }

body {
  background-color: #F9F9F9;
  font-family: "VerbLight";
  align-items: center;
  margin: auto;
  /*footer*/ }
  body .container {
    overflow-x: hidden;
    margin-left: 20%;
    margin-right: 20%; }
    body .container .mainpage {
      height: 90vh;
      /* Logo */
      /* Navbar */
      /* Heading */
      /* Intro */
      /* Form */
      /* Continue Button */ }
      body .container .mainpage .logo img {
        width: 85.5px;
        height: 25.5px;
        max-width: 600px; }
      body .container .mainpage nav {
        width: 100%;
        display: flex; }
      body .container .mainpage nav a {
        font-size: 14px;
        font-family: "Verb";
        color: #b5b4b4;
        margin-top: 5vh;
        text-decoration: none; }
      body .container .mainpage nav a:hover {
        align-content: center;
        align-items: center; }
      body .container .mainpage header {
        font-family: "Verb";
        font-size: 4vh;
        line-height: normal;
        color: #1897e0;
        float: left;
        display: block; }
      body .container .mainpage .intro {
        font-family: "Verb";
        font-size: 15px;
        font-weight: 300;
        line-height: 1.67;
        color: #4c4a4a;
        display: block;
        margin-top: 3em;
        text-align: left;
        width: 60%;
        padding-top: 2vh; }
      body .container .mainpage .links {
        border: 1px solid #fff;
        /* For debugging */
        display: flex;
        justify-content: flex-end; }
      body .container .mainpage .login {
        margin-left: 20px; }
      body .container .mainpage .form-container {
        background-color: #ffffff;
        border: solid 1px #d7d7d7;
        border-top: 9.5px solid #9b9a9a;
        overflow: hidden;
        display: flex; }
        body .container .mainpage .form-container .column1 {
          display: flex;
          flex-wrap: wrap; }
        body .container .mainpage .form-container .about-you-form input[type=text] {
          background-color: #ffffff;
          border: solid 1px #9b9a9a;
          font-size: 11.2px;
          line-height: 2.0;
          text-decoration-color: #4c4a4a; }
        body .container .mainpage .form-container .i-am {
          height: 10.5px;
          font-family: "Verb";
          font-size: 14px;
          line-height: 1.67;
          text-align: left;
          color: #4c4a4a; }
        body .container .mainpage .form-container .column2 {
          display: flex;
          justify-content: flex-end;
          margin: 0 auto; }
          body .container .mainpage .form-container .column2 .img-quote {
            text-align: center; }
          body .container .mainpage .form-container .column2 .description {
            font-family: Verb;
            font-size: 14px;
            font-weight: 300;
            line-height: 1.67;
            text-align: center;
            color: #4c4a4a; }
          body .container .mainpage .form-container .column2 .quote {
            height: 30px; }
      body .container .mainpage .btn-continue {
        margin-top: 2em;
        width: 210px;
        height: 42.5px;
        border-radius: 1.5px;
        background-image: linear-gradient(to top, #008cdc, #54b2ea);
        text-decoration-color: #ffffff; }
  body .footer .list {
    margin-top: 6vh;
    text-align: left;
    font-size: 13px; }
  body .footer .list a {
    color: #6a6969;
    text-decoration: none; }

/* Navbar */
/* Mobiles */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  nav a:hover {
    color: #1897e0; }

  li a:hover {
    color: #1897e0; } }
@media only screen and (min-width: 320px) and (max-width: 480px) {
  nav a {
    border-bottom: 4px solid #9b9a9a; } }
@media only screen and (min-width: 320px) and (max-width: 480px) {
  nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center; } }
/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  nav a:hover {
    color: #1897e0; }

  li a:hover {
    color: #1897e0; } }
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  nav a {
    border-bottom: 4px solid #9b9a9a; } }
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center; } }
/* Desktop */
@media only screen and (min-width: 1224px) {
  nav a:hover {
    color: #1897e0; }

  li a:hover {
    color: #1897e0; } }
@media only screen and (min-width: 1224px) {
  nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid #9b9a9a; } }
/* very large screen devices */
@media only screen and (min-width: 1824px) {
  nav a:hover {
    color: #1897e0; }

  li a:hover {
    color: #1897e0; } }
@media only screen and (min-width: 1824px) {
  nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid #9b9a9a; } }
/* Intro */
/* Mobiles */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .intro p {
    display: inline;
    width: 50%; } }
/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .intro p {
    display: inline;
    width: 50%; } }
/* Desktop */
@media only screen and (min-width: 1224px) {
  .intro p {
    display: inline;
    width: 50%; } }
/* very large screen devices */
@media only screen and (min-width: 1824px) {
  .intro p {
    display: inline;
    width: 50%; } }
/* Column1 */
/* Mobiles */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .column1 {
    flex-direction: column;
    height: 100%; } }
/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .column1 {
    flex-direction: column;
    height: 100%; } }
/* Desktop */
@media only screen and (min-width: 1224px) {
  .column1 {
    width: 70%; } }
/* very large screen devices */
@media only screen and (min-width: 1824px) {
  .column1 {
    width: 70%; } }
/* Radio Button */
/* Mobiles in Potrait Mode */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .i-am {
    width: 55vw;
    padding: 5%; } }
/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .i-am {
    width: 55vw;
    margin-left: 10%; } }
/* Desktop */
@media only screen and (min-width: 1224px) {
  .i-am {
    width: 257px;
    margin-left: 5%; } }
/* very large screen devices */
@media only screen and (min-width: 1824px) {
  .i-am {
    width: 257px;
    margin-left: 5%; } }
/* Form */
/* Mobiles */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .about-you-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20%; } }
/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .about-you-form {
    padding: 10%; } }
/* Desktop */
@media only screen and (min-width: 1224px) {
  .about-you-form {
    margin-top: -40%; } }
/* very large screen devices */
/* Column1 Input fields */
/* Mobiles in Potrait Mode */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .about-you-form input[type=text] {
    margin-top: 5%; } }
/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .about-you-form input[type=text] {
    width: 15vw;
    height: 4vh;
    margin-top: 44.5px;
    margin-left: 31px;
    padding-left: 13px; } }
/* Desktop */
@media only screen and (min-width: 1224px) {
  .about-you-form input[type=text] {
    width: 15vw;
    height: 4vh;
    margin-top: 44.5px;
    margin-left: 31px;
    padding-left: 13px; } }
/* very large screen devices */
@media only screen and (min-width: 1824px) {
  .about-you-form input[type=text] {
    width: 15vw;
    height: 4vh;
    margin-top: 44.5px;
    margin-left: 31px;
    padding-left: 13px; } }
/* State and zip Input */
/* Desktop */
@media only screen and (min-width: 1224px) {
  .form-container #state-input {
    width: 6.5vw;
    height: 4vh;
    margin-top: 44.5px;
    margin-left: 31px;
    padding-left: 13px; } }
/* very large screen devices */
@media only screen and (min-width: 1824px) {
  .form-container #zip-input {
    width: 4.5vw;
    height: 4vh;
    margin-top: 44.5px;
    margin-left: 31px;
    padding-left: 13px; } }
/* Quote and Info */
/* Mobiles */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .form-container {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly; } }
/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .form-container {
    display: flex;
    flex-direction: column-reverse; } }
/* Desktop */
@media only screen and (min-width: 1224px) {
  .form-container {
    display: flex;
    flex-direction: column-reverse; } }
/* very large screen devices */
@media only screen and (min-width: 1824px) {
  .form-container {
    display: flex;
    flex-direction: column; } }
/* Quote and Info */
/* Mobiles */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .img-quote {
    width: 75%;
    text-align: center;
    margin: 0 auto; } }
/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .img-quote {
    width: 75%;
    text-align: center;
    margin: 0 auto; } }
/* Desktop */
@media only screen and (min-width: 1224px) {
  .img-quote {
    text-align: center;
    padding-left: 50%;
    width: 30%; } }
/* very large screen devices */
@media only screen and (min-width: 1824px) {
  .img-quote {
    text-align: center;
    margin-top: -55%;
    padding-left: 50%;
    width: 30%; } }
/* Continue Button */
/* Mobiles in Potrait Mode */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center; } }
/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; } }
/* Desktop */
@media only screen and (min-width: 1224px) {
  .form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; } }
/* very large screen devices */
@media only screen and (min-width: 1824px) {
  .form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; } }
/* Footer */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .footer {
    background-color: #EAEAEA;
    margin-top: 3%;
    height: 100%; } }
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .list a {
    text-align: center;
    display: flex;
    flex-direction: column; } }
/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .list {
    margin-left: 15%; } }
@media only screen and (min-width: tablet) and (max-width: 1024px) {
  .footer {
    background-color: #EAEAEA;
    margin-top: 3%;
    height: 100%; } }
/* Desktop */
@media only screen and (min-width: 1224px) {
  .footer {
    background-color: #EAEAEA;
    margin-top: 3%;
    height: 100%;
    padding-top: 2%;
    padding-bottom: 2%; } }
@media only screen and (min-width: 1224px) {
  .list {
    margin-left: 17%;
    height: 100%; } }
/* Very Large Screen */
@media only screen and (min-width: 1824px) {
  .footer {
    background-color: #EAEAEA;
    margin-top: 3%;
    height: 100%;
    padding-top: 2%;
    padding-bottom: 2%; } }
@media only screen and (min-width: 1824px) {
  .list {
    margin-left: 20%;
    height: 100%; } }

/*# sourceMappingURL=style.css.map */
